# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
media/
staticfiles/

# Environment
.env
.env.*

# VSCode
.vscode/

# PyCharm
.idea/
*.iml

# Docker
*.pid
docker-compose.override.yml

# PostgreSQL
*.pgsql
*.psql

# OS
.DS_Store
Thumbs.db

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd

# Others
*.swp
*.swo 